node_modules/
dist/
debug.log
npm-debug.log
yarn-error.log
config.js
cypress.json
cypress/screenshots/
cypress/videos/
.env

# Editor directories and files
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Testing
.nyc_output/
coverage/
coverage-jest/
