node_modules/
dist/
npm-debug.log
yarn-error.log
config.js
cypress.json
cypress/screenshots/
cypress/videos/

# Editor directories and files
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Config and package lock
config.js
package-lock.json
