[data-theme="dark"] {
    --primary-background-color: #111;
    --secondary-background-color: #262626;
    --layered-background-color: #ffffff11;
    --text-color: #eee;
    --button-color: #dddddd;
}
  
[data-theme="light"] {
    --primary-background-color: #eee;
    --secondary-background-color: #ddd;
    --layered-background-color: #00000011;
    --text-color: #111;
    --button-color: #222222;
    
}

body.single-tapestry {
    background: var(--primary-background-color);
}
  
.primary-text {
    color: var(--text-color) !important;
}
.primary-background {
    background-color: var(--primary-background-color) !important;
}