[data-theme="dark"] {
    --primary-background-color: #111;
    --secondary-background-color: #262626;
    --secondary-background-color-offset: #373737;
    --text-color: #eee;
    --text-color-offset:#fff ;
}
  
[data-theme="light"] {
    --primary-background-color: #eee;
    --secondary-background-color: #bbb;
    --secondary-background-color-offset: #ccc;
    --text-color: #111;
    --text-color-offset: #222;
    
}
  
.primary-text {
    color: var(--text-color) !important;
}
.primary-text-offset {
    color: var(--text-color-offset) !important;
}
.primary-background {
    background-color: var(--primary-background-color) !important;
}
.secondary-background {
    background-color: var(--secondary-background-color) !important;
}
.secondary-background-offset {
    background-color: var(--secondary-background-color-offset) !important;
}