@font-face {
  font-family: 'H5PFontIcons';
  src:  url('../fonts/h5p.eot?104');
  src:  url('../fonts/h5p.eot?104#iefix') format('embedded-opentype'),
    url('../fonts/h5p.ttf?104') format('truetype'),
    url('../fonts/h5p.woff?104') format('woff'),
    url('../fonts/h5p.svg?104#H5PFontIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
