@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 16px;
    z-index: 0;
}
* {
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 1em;
    left: 1em;
}

#header h1 {
    background: url(./logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 100px;
    direction: rtl;
    text-indent: -9999em;
    min-width: 150px;
    float: left;
    margin: 0;
}

#header h2 {
    color: #6e8795;
    vertical-align: middle;
    display: inline-block;
    padding-left: 33px;
    padding-top: 33px;
    margin: 0;
}
#header div, p {
    vertical-align: middle;
    padding-left: 50px;
    display: inline-block;
}

@media (max-width: 670px) {
  #header h2 {
      font-size: 1.1em;
      padding-top: 38px;
      padding-left: 1em;
  }
}

@media (max-width: 400px) {
  #header h1 {
      min-width: 120px;
  }
  #header h2 {
    font-size: 0.8em;
  }
}

#tapestry-svg > g {
    transform: translate(-8.5px, 0);
}

/* Tapestry Controls */

#tapestry-controls-wrapper {
    margin: 40px 10% 20px;
    padding: 10px 16px;
    float: right;
    width: auto;
	background: #fbfbfb;
    box-shadow: 0 0 7px 0 #DDD;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
@media (min-width:1000px) {
	#tapestry-controls-wrapper {
		position: absolute;
		margin-top: -50px;
		right: 0;
	}
}
#tapestry-controls-wrapper > * {
    float: left;
}

.settings-button,
.settings-button:focus {
    padding: 0;
    background: none;
    color: #999;
    font-size: 1.2em;
    transition: all 0.2s ease;
    outline: none;
}

.settings-button:hover {
    background: none;
    color: #11a6d8;
    transform: scale(1.1);
}

/* depth slider */

#tapestry-depth-slider {
    margin-top: 6px;
    outline: none;
    background: #d3d3d3;
    height: 10px;
    opacity: 0.8;
    transition: opacity .2s;
    position: relative;
    margin: 0 32px;
}

#tapestry-depth-slider::before,
#tapestry-depth-slider::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("img/zoom-in.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    left: -30px;
    bottom: -9px;
}

#tapestry-depth-slider::after {
    background-image: url("img/zoom-out.png");
    left: initial;
    right: -30px;
}

#tapestry-depth-slider {
    -webkit-appearance: none;
}

#tapestry-depth-slider-wrapper:not(:only-child) {
    padding-right: 10px;
    border-right: 1px solid #a1a1a1;
}

/* webkit support */
#tapestry-depth-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #ed7565;
    cursor: pointer;
}

/* mozilla support */
#tapestry-depth-slider::-moz-range-thumb {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #ed7565;
}

/* internet explorer support */
#tapestry-depth-slider::-ms-thumb {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #ed7565;
}

#tapestry-depth-slider:hover {
    opacity: 1
}

#tapestry-depth-slider {
    align-items: center;
}

#tapestry-depth-slider-wrapper label {
    display: none;
}

#tapestry-view-locked-checkbox-wrapper {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

#tapestry-view-locked-checkbox-wrapper label {
    margin-bottom: 0;
    margin-left: 8px;
}

#footer {
    width: 100%;
    font-size: 0.7em;
    color: #666;
    text-align:center;
}

.progress-meter .background {
    fill: #333333;
}

.progress-meter .foreground {
    fill: #11a6d8;
}

.node {
    cursor: pointer;
    z-index: 0;
    user-select: none;
}

.node .meta {
    color: white;
    min-height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: center;
    font-size: 30px;
    text-shadow: 1.5px 1.5px #333333;
}
.node .title {
    padding-left: 0;
    margin-top: 12px;
    margin-bottom: 0;
}

.node .timecode {
    font-size: 20px;
    padding-left: 0;
    margin: 0;
}

.imageOverlay {
    opacity: 0.5;
}
.imageOverlay--no-image {
    opacity: 1;
}

.node path:first-of-type {
    fill: #11a6d8;
}

.node path.grandchild,
.node .grandchild {
    fill: #999;
}

.node:hover .grandchild {
    transform: scale(1.2);
}

.node:hover .imageOverlay {
    opacity: 0;
}

.node:hover text {
    display: none;
}

.links line {
    stroke-opacity: 5;
}

.link-lines.deletable {
    cursor: pointer;
}

/* MEDIA BUTTON */

.mediaButton {
    transition: all 0.25s ease;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
    background: #666;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 32px;
}

.mediaButton > i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #666;
    color: #fff;
    border: 4px solid #fff;
}

.mediaButton > i.fa-lock {
    font-size: 28px;
}

.mediaButton:hover:not([data-unlocked=false]),
.mediaButton:active:not([data-unlocked=false]) {
    transform: scale(1.05);
}

.mediaButton:hover:not([data-unlocked=false]) > i {
    background: #11a6d8;
}

.mediaButton > i.fa-play:before {
    font-size: 0.9em;
    padding-left: 0.2em;
}
.mediaButton > i.fa-play.fa-text:after {
    content: "T";
    font-family: serif;
    padding-top: 2px;
    position: absolute;
    color: #333;
    font-size: 21px;
}

.mediaButtonLoading {
    color: transparent;
    background-image: url("img/loading-eclipse.svg");
    background-color: #666;
    border-radius: 100%;
    margin: 2% 2% 2% 3%;
    width: 94%;
    height: 94%;
    background-size: 98%;
    box-shadow: 0 0 0 2px #666 inset;
}

.textMediaButtonIcon:after {
    content: "Aa";
    font-size: 0.8em;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -2px;
    margin-left: -2px;
}

/* ADD + EDIT NODE BUTTONS */

input[type="checkbox"][disabled] {
    cursor: not-allowed;
}

#mediaFormat[disabled], #mediaType[disabled]{
    cursor: not-allowed;
}

.tapestry-tooltip {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.tapestry-tooltip-content {
    pointer-events: none;
    background: black;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    text-align: left;
    font-size: 22px;
    width: 100%;
    bottom: 8px;
}

.tapestry-tooltip ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.tapestry-tooltip li {
    margin: 0;
    padding: 0;
}

rect.selectable {
    fill: #11a6d8;
    fill-opacity: 0;
}

.node-selected circle {
    fill: #11a6d8;
    fill-opacity: 0.7;
}

.node-selected path.grandchild, .node-selected .grandchild {
    fill: #11a6d8;
}

.node-selected rect.selectable {
    fill-opacity: 0.7;
}

#depth-warning-message {
    position: absolute;
    top: calc(100% + 16px);
    font-size: 0.9em;
}